body {
  background-color: black;
  margin: 10 auto;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 7px;
  background: linear-gradient(360deg, rgb(0, 0, 0) 0%, #030f11, rgb(0, 0, 0) 100%); 
  background-size: 200% 200%;
}

nav {
	display: flex;
	width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
  color: white;
}

main {
	display: flex;
  justify-content:space-between;
  width: 100%;
  margin-top: 20px;
}

.right-content {
  height: 450px;
  width: 275px;
  margin-top: 25px;
  flex: 2;
  margin-left: 200px;
  border-radius: 13px;
}

.main-display {
	display: flex;
  border-radius: 13px;
  height: 350px;
  width: 900px;
  justify-content:center;
  align-items: center;
}

.buttons {
	display: flex;
  justify-content: space-between;
  padding-left: 25px;
  font-weight: 500;
}

.left-content {
  height: 350px;
  width: 200px;
  margin-top: 25px;
  border-radius: 13px;
  text-align: center;
  align-items: center;
  color: white;
}

.logo {
  width: 15%;
  height: 15%;
}

.mx-icon {
  width: 1.5%;
  height: 2%;
}


.arrow-icon {
  position: fixed;
  height: 30px;
  width: 26px;
  background-color: white;
  border-radius: 100%;
  padding: 15px;
  right: 20px;
}

.buttons > p {
  display: grid;
  width: 400px;
  text-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: white;
  color: black;
}

.side-notice {
  display: grid;
  align-items: center;
  text-align: center;
}

.notice-content > p {
  border: 2px solid #4DD0E1;
  border-radius: 8px;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: -25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  line-height: 25px;
  color:#4DD0E1;
}

b {
  color: white;
}

.language-selection > p {
  margin-left: 10px;
}

.text {
  font-weight: 500;
}

.text > b {
  color: #4DD0E1;
}

.buttons > .download {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 2px solid white;
}

.meme--image {
  display: flex;
  width: 100%;
  height: 300px;
 align-items: center;
 margin-top: 80px;
}

.meme--text {
  color:white;
}

.input-text {
  position: relative;
  text-align: center;
  background-color: rgba(248, 248, 248, 0); 
  color: white;
  outline: none;
  border: none;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow:
  2px 2px 0 #000,
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  0 2px 0 #000,
  2px 0 0 #000,
  0 -2px 0 #000,
  -2px 0 0 #000,
  2px 2px 5px #000;
  max-width: 3000ch;
  overflow-x: visible;
  z-index: 1;
  bottom: 250px;
  right: 250px;
}

input::placeholder {
  color:#ffffff46;
}

.download:hover {
  border: 2px solid #4DD0E1;
  color: #4DD0E1;
}
.download:active {
  background-color: #4DD0E1;
  color: black;
}

.arrow-icon:hover {
  background-color: #4DD0E1;
}

.arrow-icon:active {
  background-color: white;
}

.x-icon {
  width: 25%;
  margin: 0 auto;
  z-index: 1;
}

.upload:hover {
  border: 2px solid #4DD0E1;
  color: #4DD0E1;
}

.upload:active {
  background-color: #4DD0E1;
  color: black;
}